* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

img {
    max-width: 100%;
    position: relative;   
}

ul,
ol,
menu {
	list-style: none;
    display: flex;
}


.row {
	display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0 10px;
    position: relative;
  
}

body{
    background-color: rgb(0, 0, 0);
}

section{
    width: 1040px;
	background-size: cover;

    
}

.main-header{
    height: 50px;
}

.view-select{
    background-color: rgba(128, 128, 128, 0.592);
    color: white;
    position: absolute;
    right: 28px;
    top: 3px;
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
}
.arrow {
    background-color: rgba(128, 128, 128, 0.592);
    color: white;
    position: absolute;
    right: 3px;
    top: 3px;
    padding: 5px;
    font-size: 13px;
    border-radius: 10px;
}



.col{
    flex-basis: calc(100% / 7);
    padding: 3px 1px;
    position: relative;
}

.nav-footer{
    height: 50px;
    background-color: rgb(30, 30, 30);
    color: white;  
    margin-top: 20px; 
    position: relative;
}

.user{
    color: white;
    position: absolute;
    bottom: 8px;
    left: 2px;
    background-color: rgba(32, 46, 60, 0.467);
    font-size: 13px;
}
.container-footer{
    display: flex;
    justify-content: space-between;
}
.col-nav{
    position: absolute;
    left: 0px;
    padding: 5px;
    text-align: center;
    
}

.button-end{
    background-color: rgba(150, 149, 149, 0.819);
    color: red;
    font-size: 10px;
    position: absolute;
    right: 0px;
    height: 50px;
    width: 100px;
    border-color: none;

}
.navbar{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.green{
    color: green;
}
ul, li{
    padding: 0 10px;
}



